.vscode/
isotype_reference_strains_lists/
analysis/
.RData
results/NGS-PCA/results
results/mosdepth
results/telseq/elegans_missing
results/telseq/elegans/elegans_telo_lengths_all.tsv
results/telseq/briggsae/briggsae_telo_lengths.tsv
results/telseq/tropicalis/tropicalis_telo_lengths.tsv
.Rproj.user

scripts/telseq_missing.sh
scripts/pot-2_env_associations.R
scripts/mosdepth_missing.sh
scripts/elegans_run1_GWAS_figures.R
